version: '3.9'

services:
  web:
    build:
      context: .
      target: builder  # use builder stage to get node and dev env
    container_name: react_dev
    command: npm start
    ports:
      - "5127:3000"   # host:container -> visit http://localhost:5127
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - BROWSER=none
    restart: always
